<div style="text-align: center">
    <div style="font-size: xxx-large ; font-weight: 900 ; color: rgba(0 , 0 , 0 , 0.8) ; line-height: 100%">
        Data Types
    </div>
    <div style="font-size: x-large ; padding-top: 20px ; color: rgba(0 , 0 , 0 , 0.5)">
        Text + Numerical + Boolean
    </div>
</div>

# Data types (str, int, float, complex, bool, None)

Data types tell a programming language what kind of data it is currently operating on.

Data types are necessary so that you and your program do not try to do something that is not possible or defined.

Therefore, data types define what you can do with an object.

## Creating variables in Python is as easy as this: `name = value`

The correct terminology is: We **declare the variable** `my_variable` and **assign** it its `value`.

```
Declaration
^
|        Assignment
|        ^
|        |
variable = 1
```

In Python you do not have to manually specify the data type of a value that you want to store in a variable.

Python will automatically choose a matching data type for the variable.

You can simply do: `my_variable = my_value`.

In [1]:
my_variable = 1

And then you can later access that stored value with that name `my_variable`.

**Note**: Jupyter Notebooks will automatically output the last line in a cell.

In [2]:
my_variable

1

## Finding the `type`

Every variable in Pyton has a type. This type can be queried with `type(variable)`.

We will use it in this lecture to print the different data types we are discussing.

## Textual data: `str`

A `string` stores textual data. The type of strings in Python is called `str`.

In [13]:
empty_string = ''
empty_string

''

In [12]:
# What is the type?
type(empty_string)

str

In [3]:
a_string = '1'        # Single quotes '...'
a_string

In [3]:
a_string = "1"        # Double quotes are also possible "..."
a_string

In [3]:
a_string = str('abc') # You can also use str(...)
a_string

In [3]:
a_string = '"Hello"'  # To add double quotes "" to a string you have
a_string              # to use single quotes '' around it

In [3]:
a_string = "'Hello'"  # And vice versa
a_string

In [3]:
# It is also possible to use the multiline comment syntax to create multiline strings.
# NOTE: This is rarely used and can be difficult to read!
a_string = """Test text
multi line
  break
and so on
"""
a_string

#### Sometimes it is useful to get the length of a string

You can use `len(...)` to do so.

In [11]:
len('University')

10

In [12]:
len('')

0

## Numerical data: `integers` and `floats`

`Integer`s are the set of whole numbers + negative numbers

=> `[-inf, ..., -2, -1, 0, 1, 2, ..., inf]`

In [1]:
an_integer = 1          # Integers are non-decimal numbers ...,-10,-9,...,0,1,2,3,....
an_integer

1

In [14]:
# What is the type?
type(an_integer)

int

In [ ]:
a_million = 1000000
a_million

In [13]:
a_million = 1_000_000   # This is another way to specify large intergers.
a_million               # Makes it easier to read.

`Float`s are rational numbers

=> `[-inf, ..., -2.0, -1.0, 0.0, 1.1, 2.1, ..., inf]`

In [13]:
a_float = 1.0           # Floats are decimal numbers 0.1231, 0.53483, 324.1231
a_float

In [15]:
# What is the type?
type(a_float)

float

In [2]:
a_million = 1e6         # This is scientific notation. The value after the
a_million               # "e" denotes the number of 0s.

1000000.0

In [4]:
two_million = 2e6
two_million

2000000.0

In [3]:
a_float = 0.00000000001 # Python will use scientifc notation 1e-11
a_float                 # For numbers < 1.0 there is a "-" after the "e" -> 1e-

1e-11

In [6]:
scientific_float = 1e-94
scientific_float

1e-94

In [7]:
short_form_float = 1.   # The 0 before or after the decimal point can be omitted
short_form_float

1.0

In [8]:
short_form_float = .5
short_form_float

0.5

## Complex numbers: `complex`

Complex numbers in Python can be represented with a **real** and an **imaginary part**. The **imaginary part** is denoted with an additional **j**.

All the math operators describe in a later section also work with complex numbers.

In [42]:
complex_number = 10 + 5j
complex_number

(10+5j)

In [43]:
type(complex_number)

complex

## Truth values: `bool`

`bool` are represented by the values `True` or `False`.

They are very useful in conditional statements, where you either want to do one thing or another.

Internally:
- `True` is equal to `1`.
- `False` is equal to `0`.

In [17]:
a_bool = False
a_bool

False

In [18]:
a_bool = True
a_bool

True

In [19]:
# What is the type?
type(a_bool)

bool

## Representing nothing: `None`

`None` indicates no value being available.

In [21]:
a_none = None
a_none

In [22]:
# What is the type?
type(a_none)

NoneType

## Data Type Conversion

### Convert `float`, `bool`, and `string` to `int`

Note: The `string` has to contain a valid `int`.

In [26]:
int(1.0)

1

In [27]:
int(1.5)

1

In [28]:
int(True)

1

In [29]:
int('10')

10

### Convert `int`, `bool`, and `string` to `float`

In [30]:
float(1)

1.0

In [31]:
float(False)

0.0

In [32]:
float('10')

10.0

In [33]:
float('11.6')

11.6

### Convert `int`, `float`, and `bool` to `string`

In [34]:
str(10)

'10'

In [35]:
str(10.213)

'10.213'

In [36]:
str(True)

'True'

## Let's do some "math"

When you do math in Python certain operations can automatically transform your `integer` into a `float`.

| Symbol | Task Performed |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |
| (` `) | computation order |

In [23]:
1 + 1    # Addition of two integers will also be an integer

2

In [24]:
1.0 + 1  # If a float is added the result will be a float too

2.0

In [25]:
2 * 2    # Multiplication of two integers will also be an integer

4

In [26]:
2 * 2.0  # However, this will be a float

4.0

In [27]:
5 / 2    # Division always yields a float

2.5

In [29]:
7 % 4    # Modulo (returns the remainder)

3.0

In [30]:
7 % 4.0  # If one value is a float the result will be a float too

3.0

In [31]:
5 // 2   # Floor division of two integers will be an integer

2

In [44]:
7 // 2.0 # Here one side is a float, so the result will also be float

3.0

In [45]:
7.0 // 2 # Same here

3.0

In [36]:
# You can write regular math expressions
a = 2
b = 3.5
c = -10
(a + b) * a - c

21.0

**Note**: Because `bool` is equal to either `0` or `1` you can also do math with booleans.

In [32]:
10 * True

10

In [33]:
10 * False

0

In [34]:
10 - False

10

In [35]:
10 + True

11

## Let's do some "math" with Strings

In [53]:
'Hello' + ' World' # You can add strings together

'Hello World'

In [54]:
3 * 'Hello' # You can repeat a string with multiplication

'HelloHelloHello'

In [55]:
'Hello' * 3 # Order does not matter

'HelloHelloHello'

In [1]:
'Hello' * -2 # Multiplying with a negative number will always be the empty string

''

In [57]:
# Dividing a string does not work.
# It causes the python interpreter to "raise" an error message
'Hello' / 4

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [58]:
# It is also not possible to add integers to strings
'Hello ' + 4

TypeError: can only concatenate str (not "int") to str

## Let's do some "math" with None

Well, this is not possible. You have nothing to work with.

In [59]:
None + None

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

## Combining Math & Variable Assigment

In Python it is also possible to use an operator (+, -, *, ...) and use a variable on the left hand while directly assigning to that variable. This is done by combining the equal sign `=` with an operator.

`variable = variable / value` is equal to `variable /= value`.

| Symbol | Task Performed |
|----|---|
| +=  | Addition |
| -=  | Subtraction |
| /=  | division |
| %=  | mod |
| *=  | multiplication |
| //=  | floor division |
| **=  | to the power of |

In [60]:
a = 10
a += 5 # This is equal to a = a + 5
a

15

In [61]:
a -= 5
a

10

# Summary

* You know how to **create variables** in Python.
* You know the difference between **declaration** and **assignment** of variables.
* You know about the text data type **string** in Python.
* You know about the numerical data types **int**, **float**, **complex** in Python.
* You know about the boolean data type **bool** which is either True or False.
* You know about the value that denotes "does not exist", namely **None**, in Python.
* You know the basics of **converting between data types**.
* You know about the **basic math operators** in Python.
* You know about **math on strings**.
* You know about **shorthand operators** (e.g. `/=`).

### Next excercise: [Exercise 03](exercise_03_strings_integers_floats_bool_none.ipynb)
### Next lecture: [Python - Relational Operators & Control Flow](lecture_04_relational-operators_if-elif-else.ipynb)

---
##### Authors:
* [Julian Niedermeier](https://github.com/sleighsoft)